<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<div></div>
<div class="tab">
  <button class="tablinks" routerLink="/stations/list" routerLinkActive="active" >Stations</button>
  <button class="tablinks" routerLink="/station-status/tableview" routerLinkActive="active">Station Status</button>
 </div>

<div id="London" class="tabcontent">
    <!-- Routed views go here -->
  <router-outlet></router-outlet>
</div>


